In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [11]:
heart_attack = pd.read_csv("../02-logistic-regression/data/Medicaldataset.csv")

In [12]:
heart_attack

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result
0,64,1,66,160,83,160.0,1.80,0.012,negative
1,21,1,94,98,46,296.0,6.75,1.060,positive
2,55,1,64,160,77,270.0,1.99,0.003,negative
3,64,1,70,120,55,270.0,13.87,0.122,positive
4,55,1,64,112,65,300.0,1.08,0.003,negative
...,...,...,...,...,...,...,...,...,...
1314,44,1,94,122,67,204.0,1.63,0.006,negative
1315,66,1,84,125,55,149.0,1.33,0.172,positive
1316,45,1,85,168,104,96.0,1.24,4.250,positive
1317,54,1,58,117,68,443.0,5.80,0.359,positive
1318,51,1,94,157,79,134.0,50.89,1.770,positive

In [13]:
X = heart_attack.drop(columns=['Result'])
y = heart_attack['Result']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.5, random_state=0)

In [14]:
knn1 = KNeighborsClassifier(n_neighbors=1)
knn1.fit(X_train, y_train)
knn1_preds = knn1.predict(X_test)
pd.DataFrame(confusion_matrix(y_test, knn1_preds))

     0    1
0  131  130
1  132  267

In [15]:
np.mean(y_test==knn1_preds)

0.603030303030303

In [16]:
knn3 = KNeighborsClassifier(n_neighbors=3)
knn3.fit(X_train, y_train)
knn3_preds = knn3.predict(X_test)
pd.DataFrame(confusion_matrix(y_test, knn3_preds))

     0    1
0  118  143
1  109  290

In [17]:
np.mean(y_test==knn3_preds)

0.6181818181818182